
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.sign-up-shU {
  display: flex;
  flex-direction: column;
  background-color: #454545;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-peud-Cze {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.7rem 16rem 10rem 15.9rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-3nko-WEe {
      height: 6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 9.3rem 6.4rem 0rem;

      .logo-D94 {
        margin-right: 2rem;
        box-sizing: border-box;
        padding: 2.2rem 1.2rem 2.3rem 1.1rem;
        height: 100%;
        border-radius: 3rem;
        flex-shrink: 0;

        .auto-group-jxkd-8mp {
          width: 3.7rem;
          height: 1.5rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .soundwave-rC2 {
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 107.5rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .discover-koC {
        margin: 0.6rem 5.9rem 0rem 0rem;
        cursor: pointer;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 400;
        white-space: nowrap;
      }
      .join-43C {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.6rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #bc3a80;
      }
    }
    .auto-group-gpxp-ZEr {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      height: 70.5rem;

      .join-the-fun-JCS {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        font-size: 9.6rem;
        white-space: nowrap;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        margin: 0rem 30.1rem 6.7rem 0rem;
        align-items: baseline;
        font-weight: 700;
        line-height: 1.5;

        .join-the-fun-JCS-sub-0 {
          font-size: 7.2rem;
          font-weight: 700;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
        .join-the-fun-JCS-sub-1 {
        }
        .join-the-fun-JCS-sub-2 {
          font-family: Poppins, 'Source Sans Pro';
          font-size: 9.6rem;
          font-weight: 700;
          line-height: 1.5;
          color: #bc3a80;
        }
      }
      .auto-group-xtst-AGa {
        padding: 4.1rem 10.7rem 5.9rem 10.7rem;
        display: flex;
        border-radius: 2rem;
        flex-shrink: 0;
        background-color: #202027;
        box-sizing: border-box;
        width: 79.3rem;
        height: 100%;
        align-items: center;
        flex-direction: column;

        .name--Szn {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 49.4rem 3.3rem 0rem;
          line-height: 1.5;
          font-weight: 500;
          color: #ffffff;
          flex-shrink: 0;
          text-align: center;
          font-size: 2.4rem;
        }
        .rectangle-5-YY2 {
          margin-bottom: 3.3rem;
          width: 100%;
          height: 6rem;
          border: solid 0.2rem #1762a7;
          box-sizing: border-box;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .email--FhL {
          margin: 0rem 50.6rem 3.3rem 0rem;
          font-weight: 500;
          line-height: 1.5;
          white-space: nowrap;
          text-align: center;
          font-size: 2.4rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .rectangle-6-MkN {
          box-sizing: border-box;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 3.3rem;
          width: 100%;
          height: 6rem;
          border: solid 0.2rem #1762a7;
        }
        .password--5RU {
          margin: 0rem 45.3rem 3.3rem 0rem;
          font-size: 2.4rem;
          line-height: 1.5;
          flex-shrink: 0;
          white-space: nowrap;
          text-align: center;
          font-weight: 500;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
        .rectangle-7-N9g {
          width: 100%;
          height: 6rem;
          border: solid 0.2rem #1762a7;
          box-sizing: border-box;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 6.6rem;
        }
        .button-J3L {
          font-size: 2.4rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          border-radius: 1rem;
          display: flex;
          justify-content: center;
          width: 100%;
          font-weight: 400;
          color: #ffffff;
          background-color: #1762a7;
          height: 8.6rem;
          align-items: center;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
  .nav-Kz2 {
    padding: 4.4rem 14.6rem 4.2rem 16.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #202027;
    flex-shrink: 0;
    box-sizing: border-box;

    .about-us-qxN {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 7.05rem 0.1rem 0rem;
      cursor: pointer;
      display: flex;
      line-height: 1.5;
      color: #ffffff;
      font-size: 2.4rem;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
    }
    .contact-9iA {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: #ffffff;
      margin: 0rem 78.45rem 0.1rem 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      white-space: nowrap;
    }
    .frame-eev {
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      margin: 1.4rem 20.1rem 0rem 0rem;
      width: 2.4rem;
      height: 2.4rem;
    }
    .group-9ra {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.45rem 0.25rem 0rem;
      width: 2.4rem;
      height: 1.9504rem;
      object-fit: contain;
    }
    .twitter-GAW {
      font-size: 2.4rem;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      display: flex;
      align-items: center;
      font-weight: 700;
      flex-shrink: 0;
      margin: 0rem 4.75rem 0.2rem 0rem;
    }
    .frame-NjL {
      margin: 0rem 1.2rem 0.2rem 0rem;
      width: 2.4rem;
      height: 2.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .facebook-HrJ {
      font-family: Poppins, 'Source Sans Pro';
      margin-bottom: 0.2rem;
      display: flex;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
    }
  }
}
