
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.about-iUA {
  box-sizing: border-box;
  padding-bottom: 0.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #454545;
}
.about-iUA .auto-group-wjpf-Dfp {
  box-sizing: border-box;
  padding: 2.7rem 7.1rem 3.7rem 15.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-iUA .auto-group-wjpf-Dfp .auto-group-wcaj-6zW {
  margin-bottom: 7.2rem;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-iUA .auto-group-wjpf-Dfp .auto-group-wcaj-6zW .logo-DJS {
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 2.2rem 1.2rem 2.3rem 1.1rem;
  height: 100%;
  border-radius: 3rem;
  flex-shrink: 0;
}
.about-iUA .auto-group-wjpf-Dfp .auto-group-wcaj-6zW .logo-DJS .auto-group-xzkh-X4E {
  width: 3.7rem;
  height: 1.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.about-iUA .auto-group-wjpf-Dfp .auto-group-wcaj-6zW .soundwave-q4v {
  margin-right: 107.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-iUA .auto-group-wjpf-Dfp .auto-group-wcaj-6zW .discover-Kkn {
  margin: 0.6rem 5.9rem 0rem 0rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-iUA .auto-group-wjpf-Dfp .auto-group-wcaj-6zW .join-Cpa {
  margin-top: 0.6rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-iUA .auto-group-wjpf-Dfp .about-us-7Rk {
  margin-left: 0.3rem;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-iUA .auto-group-wjpf-Dfp .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg {
  margin-left: 0.3rem;
  max-width: 168.7rem;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-iUA .auto-group-wjpf-Dfp .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg-sub-0 {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.about-iUA .auto-group-wjpf-Dfp .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg-sub-1 {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.about-iUA .auto-group-wjpf-Dfp .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg-sub-2 {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.about-iUA .auto-group-wjpf-Dfp .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg-sub-3 {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.about-iUA .auto-group-wjpf-Dfp .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg-sub-4 {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.about-iUA .auto-group-wjpf-Dfp .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg-sub-5 {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.about-iUA .auto-group-wjpf-Dfp .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg-sub-6 {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.about-iUA .auto-group-wjpf-Dfp .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg-sub-7 {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.about-iUA .auto-group-wjpf-Dfp .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg .as-the-worlds-largest-music-and-audio-platform-soundwave-lets-people-discover-and-enjoy-the-greatest-selection-of-music-from-the-most-diverse-creator-community-on-earth-since-launching-in-2008-the-platform-has-become-renowned-for-its-unique-content-and-features-including-the-ability-to-share-music-and-connect-directly-with-artists-as-well-as-unearth-breakthrough-tracks-raw-demos-podcasts-and-more-this-is-made-possible-by-an-open-platform-that-directly-connects-creators-and-their-fans-across-the-globe-music-and-audio-creators-use-soundwave-to-both-share-and-monetise-their-content-with-a-global-audience-as-well-as-receive-detailed-stats-and-feedback-from-the-soundwave-community-meet-our-executive-team-michael-weissman-ceo-drew-wilson-coo-cfo-eliah-seton-president-lauren-wirtzer-seawood-cmo-cco-rohit-argawal-cpo-antonious-porch-general-counsel-cdo-tracy-chan-svp-creator-jennifer-casserta-head-of-people-Djg-sub-8 {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.about-iUA .nav-qnJ {
  box-sizing: border-box;
  padding: 4.8rem 12.4rem 3.8rem 18.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #202027;
  flex-shrink: 0;
}
.about-iUA .nav-qnJ .about-us-w4e {
  margin: 0rem 7.05rem 0.1rem 0rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #bc3a80;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-iUA .nav-qnJ .contact-pu8 {
  margin: 0rem 78.45rem 0.1rem 0rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-iUA .nav-qnJ .frame-6re {
  margin: 1.4rem 20.1rem 0rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.about-iUA .nav-qnJ .group-nzN {
  margin: 0rem 0.45rem 0.25rem 0rem;
  width: 2.4rem;
  height: 1.9504rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-iUA .nav-qnJ .twitter-gpr {
  margin: 0rem 4.75rem 0.2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-iUA .nav-qnJ .frame-Azv {
  margin: 0rem 1.2rem 0.2rem 0rem;
  width: 2.4rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-iUA .nav-qnJ .facebook-gTU {
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
